body{
  background-color: #012634;
  font-family: sans-serif;
}

.Bilde{
  width: 250px;
  border-radius: 20px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1{
  text-align: center;
  color: white;
  margin: 50px;
}

h4 {
  text-align: center;
  margin: 50px;
  color: white;
}

h3{
  text-align: center;
  font-style: italic;
  margin: 50px;
  color: white;
}

ul{
  text-align: center;
  color: white;
}
li{
  text-align: center;
  color: white;
}

p{
  text-align: center;
  margin: 50px;
  color: white;
}

p {
  font-weight: bold;
}
